
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <body>
            <!--check if empty list is passed-->
            {% if melon_dict %}

                <!--for each melon object in the list of melon objects -->
                {% for melon in  melon_dict  %}
                    
                    <tr>
                        <td>{{ melon.common_name }}</td>
                        <td>{{ melon.quantity }}</td>
                        <td>{{ melon.price }}</td>
                        <td>{{ melon.total_price }}</td>
                    </tr>

                {% endfor %}
            {% endif %}
       
        </body>
    </table>
  
    <br>
    <h3>Total: {{ cart_total }}</h3>
    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
